:root {
    --light-orange: #FDF0EA;
    --secondary-orange: #F28555;
    --main-orange: #EB662B;
    --text-color: #05073C;
}

.contact-section{
    margin-bottom:50px;
}

.contact-section .contact-wrapper{
    display: flex;

}

.contact-section .contact-wrapper .contact-info,
.contact-section .contact-wrapper .contact-form {
    flex:1;
}

.contact-section .contact-wrapper .contact-info .info-details{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-section .contact-wrapper .contact-info .info-details .info-detail{
    margin-left: 15px;
}

.contact-section .contact-wrapper .contact-info .social-media{
    text-align: center;
    margin-top: 20px;
}

.contact-section .contact-wrapper .contact-info .social-media .social-media-link{
    font-size: 30px;
    margin: 15px;
    transition: all ease .3s;
}

.contact-section .contact-wrapper .contact-info .social-media .social-media-link:hover {
    color: var(--main-orange);
}

.contact-section .contact-wrapper .contact-form .form{
    width: 100%;

}

.contact-section .contact-wrapper .contact-form .form .form-group{
    text-align: center;
    width: 100%;
}

.contact-section .contact-wrapper .contact-form .form .form-group .form-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    background-color: var(--light-orange);
}

.contact-section .contact-wrapper .contact-form .form .form-group .form-input::placeholder {
    color: #606060;
    font-family: "Roboto", serif;
}

.contact-section .contact-wrapper .contact-form .form .form-group .form-input.message {
    resize: none;
    height: 250px;
}

.contact-section .contact-wrapper .contact-form .form .form-group .btn-form{
    border: 1px solid var(--main-orange);
    padding: 10px 40px;
    background-color: var(--main-orange);
    color: #fff;
    border-radius: 15px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    transition: all ease .3s;
}
.contact-section .contact-wrapper .contact-form .form .form-group .btn-form:hover{
    background-color: #fff;
    color: var(--main-orange);
}

@media only screen and (max-width:600px){
    .contact-section .contact-wrapper{
        flex-direction: column-reverse;
    }
    .contact-section .contact-wrapper .contact-form{
        margin-bottom: 30px;
    }
}