
.hero-section {
    padding: 50px 0;
}

.hero-section .hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-wrapper .content-wrapper,
.hero-section .hero-wrapper .hero-img {
    flex: 1;
}

.hero-section .hero-wrapper .content-wrapper .hero-title {
    font-size: 60px;
    line-height: 1;
}

.hero-section .hero-wrapper .content-wrapper .hero-description {
    font-size: 20px;
    margin: 30px 0;
}

.main-link {
    padding: 15px 50px;
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange);
    font-size: 20px;
}

.about {
    padding-bottom: 50px;
}

.about .cards-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}

.about .cards-wrapper .card {
    flex: 1;
    margin-left: 25px;
}

.about .cards-wrapper .card:first-child {
    margin-left: 0;
}

.about .cards-wrapper .card .card-icon {
    width: 50px;
}

.about .cards-wrapper .card .card-title {
    margin: 20px 0;
    font-size: 20px;
}


@media only screen and ( max-width: 600px ) {
    
    .hero-section {
        padding: 30px 0;
    }

    .hero-section .hero-wrapper {
        flex-direction: column;
        padding: 0 ;
    }

    .hero-section .hero-wrapper .content-wrapper .hero-title {
        font-size: 40px;
        line-height: 1;
    }

    .hero-section .hero-wrapper .content-wrapper .hero-description {
        font-size: 18px;
        margin: 20px 0;
    }

    .hero-section .hero-wrapper .hero-img {
        width: 100%;
        margin-top: 20px;
    }

    .about {
        padding-bottom: 25px;
    }

    .about .cards-wrapper {
        margin-top: 20px;
        flex-direction: column;
    }

    .about .cards-wrapper .card {
        flex: 1;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .about .cards-wrapper .card:last-child {
        margin-bottom: 0;
    }

    .about .cards-wrapper .card .card-icon {
        width: 40px;
    }

    .about .cards-wrapper .card .card-title {
        margin: 15px 0;
        font-size: 20px;
    }

}
